@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
  margin: 0px;
  padding: 0px;
  background: black;
  font-family: 'Nunito', sans-serif;
}
.Menu{
      background-color: rgb(42, 42, 42);
}
.Menu>ul{
  text-align: center;
  background-color: rgb(42, 42, 42);
  padding: 15px;
}
.menu>ul:nth-child(1){
  text-align: center;

}
.Menu>ul>li{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 190px;
  transition: .3s;
}
.Menu img{
  height: 72px;
  width: 199px;
}
#searchform {
    width: 280px;
	  height:30px;
    padding: 8px;
    margin:12px auto;
    background: rgb(42, 42, 42);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0, 0, 0) inset, 0 2px 0 rgb(0, 0, 0);
}
#searchform input {
    width: 190px;
	height:20px;
    padding: 5px;
    float: left;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset;
}
#searchform input:focus {
    outline: 0;
	height:21px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
#searchform input:-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
#searchform input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
#searchform input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
#searchform button {
    position: relative;
    float: right;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 80px;
    font-size:15px;
    color: #fff;
    background: #438cdb;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
#searchform button:hover{
    background: #2672e0;
}
#searchform button:active,#searchform button:focus{
    background: #2672e0;
}
#searchform button:before { /* flecha */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #438cdb transparent;
    top: 8px;
    left: -5px;
}
#searchform button:hover:before{
    border-right-color: #2672e0;
}
#searchform button:focus:before{
    border-right-color: #2672e0;
}
#todos{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 85px;
  transition: .3s;
}
#ordenadopor{
  margin: 0px 0px 0px 0px;
  width: 153px;
  position: relative;
  display: inline-block;
  text-align: center;
  transition: .3s;
}
.barra{
  width: 100%;
  height: 51px;
  text-align: left;
}
.bottom{
  text-decoration: none;
  color: white;
  background: transparent;
  font-size: 41px;
  margin: 7px;
  position: relative;
  bottom: 9px;
}
.bottom span{
  margin-right: 10px;
  background: transparent;
  font-size: 52px;
  position: relative;
  top: 7px;
}
section {
  width: 100%;
  height: 100%;
  background-image: url(../Asset/textura/Movie.jpg);
  background-size: cover;
  text-align: center;
}

 section Li img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px 10px 0px 0px;
}
section Li img:hover{
  transform: scale(1.05);
  border-radius: 10px 10px 10px 10px;
  transition-duration: 1s:
}
section li{
  width: 350px;
  height: 460px;
  display: inline-block;
  margin: 8px 40px 0px 0px;
  text-align: center;
  background-color: transparent;
  position: relative;
  background-image: url(../Asset/textura/textura.jpg);
  border-radius: 10px;
  right: 35.5%;
  overflow: hidden;
}
section li:hover{
  transform: scale(1.03);
}
.icon span{
  position: absolute;
  right: 177px;
  top: 268px;
  background: #00000080;
  font-size: 26px;
  border: solid 1px;
  border-radius: 8px;
  z-index: 2000;
}
section li:hover .icon span{

  transform: scale(1.1);
}

section li .icon2 span{
  position: absolute;
  top: 268px;
  left: 178px;
  background: #00000080;
  font-size: 26px;
  border: solid 1px;
  border-radius: 8px;
  z-index: 200;
}
section li:hover .icon2 span{
transform: scale(1.1);



}
section li a{
  color: white;
  background-color: transparent;
  font-size: 20px;
  text-decoration: none;
}
section li h1{
  color: white;
  font-size: 20px;
  background-color: transparent;
}
div h1{
  background-color: transparent;
  color: white;
  padding:  4px;
}
div h1 .play{
  background-color: transparent;
  color: white;

}
div h1 i{
 width: 10px;
 height: 30px;
}

#linkyoutube{
  position: relative;
}
/* ver pelis */
section aside{
  position: relative;
  background-color: transparent;
  bottom: 458px;
  width: 730px;
  left: 32pc;
  font-size: 37px;
}
section aside a{
  text-decoration: none;
  padding: 8px;
  border-radius: 3pc;
  margin: 2pc;
  color: white;                  
}
section aside a:hover{
transform: scale(1.1);
}
/* trailer */
section div{
  background: transparent;
  position: absolute;
  font-size: 30px;
  top: 196px;
  left: 562px;
  width: 666px;
}
section div h1{
  color: white;
  background: transparent;
  margin-right: 31pc;
}