@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
  margin: 0px;
  padding: 0px;
  background: black;
  font-family: 'Nunito', sans-serif;
}
.Menu{
      background-color: rgb(42, 42, 42);
}
.Menu>ul{
  text-align: center;
  background-color: rgb(42, 42, 42);
  padding: 15px;
}
.menu>ul:nth-child(1){
  text-align: center;

}
.Menu>ul>li{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 190px;
  transition: .3s;
}
.Menu img{
  height: 70px;
  width: 191px;
}
#searchform {
    width: 280px;
	height:30px;
    padding: 8px;
	margin:12px auto;
    background: rgb(42, 42, 42);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0, 0, 0) inset, 0 2px 0 rgb(0, 0, 0);
}

#searchform input {
    width: 190px;
	height:20px;
    padding: 5px;
    float: left;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset;
}

#searchform input:focus {
    outline: 0;
	height:21px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

#searchform input:-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

#searchform input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#searchform input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#searchform button {
    position: relative;
    float: right;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 80px;
    font-size:15px;
    color: #fff;
    background: #438cdb;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

#searchform button:hover{
    background: #2672e0;
}

#searchform button:active,
#searchform button:focus{
    background: #2672e0;
}

#searchform button:before { /* flecha */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #438cdb transparent;
    top: 8px;
    left: -5px;
}

#searchform button:hover:before{
    border-right-color: #2672e0;
}

#searchform button:focus:before{
    border-right-color: #2672e0;
}
#todos{
  position: relative;
display: inline-block;
text-align: center;
width: 85px;
transition: .3s;
}
#ordenadopor{
  margin: 0px 0px 0px 0px;
    width: 153px;
    position: relative;
display: inline-block;
text-align: center;
transition: .3s;
}

nav:nth-child(2) {
  display: block;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  position: relative;
}
nav:nth-child(2) > *{
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  animation: slide 12s infinite;
  position: absolute;
  }
  slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(../Asset/1096963.jpg);
    background-size: cover;
    background-position: center;
  }
  slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(../Asset/497712-600-338.jpg);
    background-size: cover;
    background-position: center;
  }
  slide:nth-child(3){
    animation-delay: 4s;
    background-image: url(../Asset/Avengers-Infinity-War.jpg);
    background-size: cover;
    background-position: center;

  }
  slide:nth-child(4){
    animation-delay: 6s;
    background-image: url(../Asset/Los-Increibles-2.jpg);
    background-size: cover;
    background-position: center;
  }
  slide:nth-child(5){
    animation-delay: 8s;
    background-image: url(../Asset/coco_inexarchiagr_1_0.jpg);
    background-size: cover;
    background-position: center;
  }
slide p{
  font-family: Comfortaa;
  font-size: 70px;
  text-align: center;
  display:inline-block;
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: transparent;
}
@keyframes slide {
  0%{ left: 100%; width: 100%;}
  5%{ left: 0%; }
  25%{ left: 0%;}
  30%{ left: -100%; width: 100%;}
  30.0001%{ left: -100%; width: 0%;}
  100%{ left: 100%; width: 0%;}
}
.barra{
  background-color:rgb(42, 42, 42);
  width: 100%;
  height: 40px;
}
section {
  width: 100%;
  height: 100%;
  background-image: url(../Asset/Movie.jpg);
  background-size: cover;
  text-align: center;
}

 section Li img{
   width: 210px;
   height: 300px;
   object-fit: cover;
   border-radius: 10px 10px 0px 0px;
}
section li{
  width: 210px;
  height: 100%;
  display: inline-block;
  margin: 15px 40px 4px 30px;
  text-align: center;
  background-color: transparent;
  position: relative;
  background-image: url(../Asset/textura.jpg);
  border-radius: 10px;


}
section li a{
  color: white;
  background-color: transparent;
  font-size: 20px;
  text-decoration: none;
}
section li h1{
  color: white;
  font-size: 20px;
  background-color: transparent;
}
div h1{
  background-color: transparent;
  color: white;
  padding:  4px;
}
div h1 .play{
  background-color: transparent;
  color: white;

}
div h1 i{
 width: 10px;
 height: 30px;
}
